{% extends '@layout/default.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/profile.css') }}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="mt-5">
    <h1>
        <i class="fas fa-user-circle"></i>
        {{ 'Profile' | trans }}
    </h1>

    <hr>

    <div class="row">
        <div id="user-data" class="col">
            <h2>
                <i class="fas fa-id-card"></i>
                {{ 'Data' | trans }}
            </h2>

            <table class="table table-sm mb-0">
                <tbody>
                    <tr>
                        <th>{{ 'Login' | trans }}</th>
                        <td>{{ user.identity }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Fullname' | trans }}</th>
                        <td>{{ user.details.fullname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Email' | trans }}</th>
                        <td>{{ user.details.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="user-roles" class="col">
            <h2>
                <i class="fas fa-users"></i>
                {{ 'Roles' | trans }}
            </h2>
            <ul class="list-unstyled">
                {% for role in user.roles %}
                <li>
                    <i class="fas fa-users"></i>
                    {{ role }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <hr>

    <div>
        <h2>
            <i class="fas fa-home"></i>
            {{ 'Homepages' | trans }}
        </h2>
        <div class="list-group mb-3">
            {% for homepage in homepages %}
            <a class="list-group-item list-group-item-action" target="_blank" href="{{ homepage.path }}"
                style="text-transform: uppercase;">
                {{ homepage.name }}
            </a>
            {% endfor %}
        </div>

        <h2>
            <i class="fas fa-rocket"></i>
            {{ 'Applications' | trans }}
        </h2>
        <div class="list-group mb-3">
            {% for application in applications %}
            <a class="list-group-item list-group-item-action" target="_blank" href="{{ application.path }}"
                style="text-transform: uppercase;">
                {{ application.name }}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <ul class="list-inline">
            {% if acl.isAllowed(user.identity, 'admin.access', 'read') %}
            <li class="list-inline-item">
                <a class="text-decoration-none text-secondary" href="{{ path('admin.access') }}">
                    <i class="fas fa-lock"></i>
                    {{ 'Access management' | trans }}
                </a>
            </li>
            {% endif %}
            {% if acl.isAllowed(user.identity, 'admin.log') %}
            <li class="list-inline-item">
                {% set year = date()|date('Y') %}
                {% set month = date()|date('m') %}
                <a class="text-decoration-none text-secondary"
                    href="{{ path('admin.log', { year: year, month: month }) }}">
                    <i class="far fa-file-alt"></i>
                    {{ 'Log' | trans }}
                </a>
            </li>
            {% endif %}
            <li class="list-inline-item">
                <a class="text-decoration-none" href="{{ path('logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    {{ 'Log out' | trans }}
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}