{% extends '@layout/with-header.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/profile.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ asset('/profile.js') }}"></script>
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
<div>
    <h1>
        <i class="fas fa-user-circle"></i>
        {{ 'Profile' | trans }}
    </h1>

    <hr>

    <div class="row">
        <div id="user-data" class="col">
            <h2>
                <i class="fas fa-id-card"></i>
                {{ 'Data' | trans }}
            </h2>

            <table class="table table-sm mb-0">
                <tbody>
                    <tr>
                        <th>{{ 'Login' | trans }}</th>
                        <td>{{ profile.identity }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Fullname' | trans }}</th>
                        <td>{{ profile.details.fullname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Email' | trans }}</th>
                        <td>{{ profile.details.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="user-roles" class="col">
            <h2>
                <i class="fas fa-users"></i>
                {{ 'Roles' | trans }}
            </h2>
            <ul class="list-unstyled">
                {% for role in profile.roles %}
                <li>
                    <i class="fas fa-users"></i>
                    {{ role }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <hr>

    <div>
        <h2>
            <i class="fas fa-home"></i>
            {{ 'Homepages' | trans }}
        </h2>
        <div class="list-group mb-3">
            {% for homepage in access.homepages %}
            <a class="list-group-item list-group-item-action" target="_blank" href="{{ homepage.path }}"
                style="text-transform: uppercase;">
                {{ homepage.name }}
            </a>
            {% endfor %}
        </div>

        <h2>
            <i class="fas fa-rocket"></i>
            {{ 'Applications' | trans }}
        </h2>
        <div class="list-group mb-3">
            {% for application in access.applications %}
            <a class="list-group-item list-group-item-action" target="_blank" href="{{ application.path }}"
                style="text-transform: uppercase;">
                {{ application.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}