<p>
    Bonjour {{fullname}},<br>
    <br>
    Vous avez fait une demande de mot de passe !<br>
    <br>
    Vous pouvez générer un nouveau mot de passe en introduisant le code "{{code}}" sur la page suivante :
    <a href="{{url}}">{{url}}</a><br>
    Date d'expiration de la demande : {{timeout}}<br>
    <br>
    Si la demande de mot de passe ne vient pas de vous, veuillez contacter les administrateurs de l'application en
    répondant à cet e-mail !<br>
</p>

<hr>

<p>
    Hallo {{fullname}},<br>
    <br>
    U heeft een nieuw wachtwoord aangevraagd !<br>
    <br>
    U kunt een nieuw wachtwoord genereren door de code "{{code}}" in te voeren op de volgende pagina :
    <a href="{{url}}">{{url}}</a><br>
    Vervaldatum van de aanvraag : {{timeout}}<br>
    <br>
    Als het verzoek om een wachtwoord niet van u afkomstig is, neem dan contact op met de applicatiebeheerders in
    het beantwoorden van deze e-mail!<br>
</p>

<hr>

<p>
    Hello {{fullname}},<br>
    <br>
    You requested a new password !<br>
    <br>
    You can generate a new password by entering the code "{{code}}" on the following page :
    <a href="{{url}}">{{url}}</a><br>
    Expiry date of the request : {{timeout}}<br>
    <br>
    If you didn't requested a new password, please contact the application administrator by replying to this email.
</p>