<p>
    Bonjour {{fullname}},<br>
    <br>
    Voici votre nouveau mot de passe : {{password}}<br>
    <br>
    Si la demande de mot de passe ne vient pas de vous, veuillez contacter les administrateurs de l'application en
    répondant à cet e-mail !<br>
</p>

<hr>

<p>
    Hallo {{fullname}},<br>
    <br>
    Hier is uw nieuwe wachtwoord : {{password}}<br>
    <br>
    ...<br>
</p>

<hr>

<p>
    Hello {{fullname}},<br>
    <br>
    Here is your new password : {{password}}<br>
    <br>
    If you didn't requested a new password, please contact the application administrator by replying to this email.
</p>