{% extends '@layout/admin.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/admin/home.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ asset('/admin/home.js') }}"></script>
{% endblock %}

{% block title %}Access{% endblock %}

{% block navbar %}
{% include '@includes/admin/navbar/access.html.twig' %}
{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <div class="list-group">
            <a href="{{ path('admin.access.users') }}"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span>
                    <i class="fas fa-fw fa-user"></i>
                    Users
                </span>
                <span class="badge badge-primary badge-pill">{{ users | length }}</span>
            </a>
            <a href="{{ path('admin.access.roles') }}"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span>
                    <i class="fas fa-fw fa-users"></i>
                    Roles
                </span>
                <span class="badge badge-primary badge-pill">{{ roles | length }}</span>
            </a>
            <a href="{{ path('admin.access.resources') }}"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span>
                    <i class="fas fa-fw fa-cog"></i>
                    Resources
                </span>
                <span class="badge badge-primary badge-pill">{{ resources | length }}</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}