{% extends '@layout/admin.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/admin/log.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ asset('/admin/log.js') }}"></script>
{% endblock %}

{% block title %}Log{% endblock %}

{% block navbar %}
{% include '@includes/admin/navbar/log.html.twig' %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">{{ title }}</h2>

    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
            {% if previous is null %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                {% set path = (id == null ? path('admin.log', previous) : path('admin.log.external', previous) ) %}
                <a class="page-link" href="{{ path }}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                </a>
            </li>
            {% endif %}
            {% if next is null %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                {% set path = (id == null ? path('admin.log', next) : path('admin.log.external', next) ) %}
                <a class="page-link" href="{{ path }}" aria-label="Next">
                    <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
<hr>

{% if log.login is defined and log.admin is defined %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login"
            aria-selected="true">
            <i class="fas fa-sign-in-alt"></i>
            Login
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin"
            aria-selected="false">
            <i class="fas fa-tools"></i>
            Admin
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        {% include '@includes/admin/log/table.html.twig' with {log: log.login} only %}
    </div>
    <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
        {% include '@includes/admin/log/table.html.twig' with {log: log.admin} only %}
    </div>
</div>
{% else %}
{% include '@includes/admin/log/table.html.twig' with {log: log} only %}
{% endif %}

{% endblock %}