{% extends '@layout/admin.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/admin.css') }}">
{% endblock %}

{% block scripts %}
<script>
    const apiURL = "{{ path('api.roles') }}";
    const apiAccessURL = "{{ path('api.access') }}";
</script>
<script src="{{ asset('/roles.js') }}"></script>
{% endblock %}

{% block title %}Roles{% endblock %}

{% block navbar %}
{% include('@app/admin/navbar/access.html.twig') with {page: 'roles'} only %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>
        <i class="fas fa-users"></i>
        Roles
    </h1>
    <div>
        <button class="btn btn-primary" id="btn-create">
            <i class="fas fa-plus-circle"></i>
            Add a new role
        </button>
    </div>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="text-right">#</th>
            <th>Name</th>
            <th>Priority</th>
            <th>User(s)</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for role in roles %}
        <tr data-id="{{ role.id }}" data-name="{{ role.name }}">
            <td class="text-right text-secondary">{{ role.id }}</td>
            <td>
                <i class="fas fa-users"></i>
                {{ role.name }}
            </td>
            <td>{{ role.priority }}</td>
            <td>
                <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="auto"
                    data-content="{{ users[role.id] | join(', ') }}" class="badge badge-pill badge-info">
                    {{ users[role.id] | length }}
                </a>
            </td>
            <td class="action">
                <a role="button" href="#edit" title="Edit">
                    <i class="fas fa-edit"></i>
                    <span class="sr-only">Edit</span>
                </a>
            </td>
            <td class="action">
                <a role="button" href="#permissions" title="Permissions">
                    <i class="fas fa-key"></i>
                    <span class="sr-only">Permissions</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include '@app/admin/modal/role.html.twig' %}
{% include '@app/admin/modal/permission/resource.html.twig' %}

{% endblock %}