{% extends '@layout/admin.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/admin.css') }}">
{% endblock %}

{% block scripts %}
<script>
    const apiURL = "{{ path('api.users') }}";
</script>
<script src="{{ asset('/users.js') }}"></script>
{% endblock %}

{% block title %}Users{% endblock %}

{% block navbar %}
{% include('@app/admin/navbar/access.html.twig') with {page: 'users'} only %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>
        <i class="fas fa-user"></i>
        Users
    </h1>
    {% if acl.isAllowed(user.identity, 'admin.access', 'write') %}
    <div>
        <button class="btn btn-primary" id="btn-create">
            <i class="fas fa-plus-circle"></i>
            Add a new user
        </button>
    </div>
    {% endif %}
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="text-right">#</th class="text-right">
            <th>Login</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role(s)</th>
            <th>Redirect</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr data-id="{{ u.id }}">
            <td class="text-right text-secondary">{{ u.id }}</td>
            <td>
                <i class="fas fa-user"></i>
                {{ u.login }}
            </td>
            <td>{{ u.fullname }}</td>
            <td>
                <a href="mailto:{{ u.email }}" class="text-decoration-none">
                    <i class="far fa-envelope"></i>
                    {{ u.email }}
                </a>
            </td>
            <td>
                {% if u.roles | length > 0 %}
                <i class="fas fa-users"></i>
                {% set role = u.roles|sort((a, b) => a.priority <=> b.priority)|reverse|first %}
                {% if u.roles | length > 1 %}
                {{ role.name }}
                <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="auto"
                    data-content="{{ u.roles | join(', ') }}" class="badge badge-pill badge-info">
                    {{ u.roles | length }}
                </a>
                {% else %}
                {{ role.name }}
                {% endif %}
                {% endif %}
            </td>
            <td>
                {% if u.redirect != null %}
                <a target="_blank" href="{{ u.redirect.path }}" class="text-decoration-none">
                    <i class="fas fa-cog"></i>
                    {{ u.redirect.name }}
                </a>
                {% endif %}
            </td>
            <td class="action">
                {% if acl.isAllowed(user.identity, 'admin.access', 'write') %}
                <a role="button" href="#edit" title="Edit">
                    <i class="fas fa-edit"></i>
                    <span class="sr-only">Edit</span>
                </a>
                {% endif %}
            </td>
            <td class="action">
                <!-- <a role="button" href="#lock" title="Lock">
                    <i class="fas fa-lock"></i>
                    <span class="sr-only">Lock</span>
                </a> -->
            </td>
        </tr d>
        {% endfor %}
    </tbody>
</table>

{% if acl.isAllowed(user.identity, 'admin.access', 'write') %}
{% include '@app/admin/modal/user.html.twig' %}
{% endif %}

{% endblock %}