<div class="border border-secondary rounded p-3">
    <form method="post" action="{{ path('login') }}" autocomplete="off">
        {% if __csrf is defined %}
        <input type="hidden" name="__csrf" value="{{ __csrf }}">
        {% endif %}
        <div class="form-group">
            <label class="control-label" for="inputLogin">{{ 'Login' | trans }}</label>
            <input class="form-control" id="inputLogin" name="login" required="required" type="text">
        </div>
        <div class="form-group">
            <label class="control-label" for="inputPassword">{{ 'Password' | trans }}</label>
            <input class="form-control" id="inputPassword" name="password" required="required" type="password">
        </div>
        <div class="form-group">
            <label class="control-label" for="inputLanguage">{{ 'Language' | trans }}</label>
            <select class="form-control" name="lang" id="inputLanguage">
                <option value="en" {{ lang == 'en' ? 'selected' }}>English</option>
                <option value="fr" {{ lang == 'fr' ? 'selected' }}>Français</option>
                <option value="nl" {{ lang == 'nl' ? 'selected' }}>Nederlands</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="action" value="login">
                <i class="fas fa-sign-in-alt"></i>
                {{ 'Log In' | trans }}
            </button>
            <br>
            <a href="{{ path('password') }}" class="btn-sm">
                {{ 'Forgot your password ?' | trans }}
            </a>
        </div>
    </form>
</div>