<p>
    Bonjour {{fullname}},<br>
    <br>
    Votre nouveau compte a été créé ! 🎉<br>
    <br>
    Vous avez maintenant accès à notre application avec l'identifiant "{{login}}"
    et le mot de passe "{{password}}" !<br>
</p>

<hr>

<p>
    Hallo {{fullname}},<br>
    <br>
    Uw nieuwe account is aangemaakt ! 🎉<br>
    <br>
    U heeft nu toegang tot onze applicatie met de identificatiecode "{{login}}"
    en het wachtwoord "{{password}}" !<br>
</p>

<hr>

<p>
    Hello {{fullname}},<br>
    <br>
    Your new account has been created ! 🎉<br>
    <br>
    You now have access to our application using login "{{login}}"
    and password "{{password}}" !<br>
</p>